/* DO NOT TOUCH */

[button-mode="secondary"] {

	/* ------------------------- BUTTON MODE SECONDARY - BEGINNING ------------------------- */

        /* BUTTON TEXT - SECONDARY */
        --light-button-text-primary--regular: var(--light-button-text-secondary--regular);
        --light-button-text-primary--hover: var(--light-button-text-secondary--hover);
        --light-button-text-primary--active: var(--light-button-text-secondary--active);
        --light-button-text-primary--disabled: var(--light-button-text-secondary--disabled);
        
        /* BUTTON BACKGROUND - SECONDARY */
        --light-button-background-primary--regular: var(--light-button-background-secondary--regular);
        --light-button-background-primary--hover: var(--light-button-background-secondary--hover);
        --light-button-background-primary--active: var(--light-button-background-secondary--active);
        --light-button-background-primary--disabled: var(--light-button-background-secondary--disabled);
        
        /* BUTTON BORDER - SECONDARY */
        --light-button-border-primary--regular: var(--light-button-border-secondary--regular);
        --light-button-border-primary--hover: var(--light-button-border-secondary--hover);
        --light-button-border-primary--active: var(--light-button-border-secondary--active);
        --light-button-border-primary--disabled: var(--light-button-border-secondary--disabled);
        }
        
[button-mode="tertiary"] {

	/* ------------------------- BUTTON MODE TERTIARY - BEGINNING ------------------------- */

        /* BUTTON TEXT - TERTIARY */
        --light-button-text-primary--regular: var(--light-button-text-tertiary--regular);
        --light-button-text-primary--hover: var(--light-button-text-tertiary--hover);
        --light-button-text-primary--active: var(--light-button-text-tertiary--active);
        --light-button-text-primary--disabled: var(--light-button-text-tertiary--disabled);

        /* BUTTON BACKGROUND - TERTIARY */
        --light-button-background-primary--regular: var(--light-button-background-teritiary--regular);
        --light-button-background-primary--hover: var(--light-button-background-teritiary--hover);
        --light-button-background-primary--active: var(--light-button-background-teritiary--active);
        --light-button-background-primary--disabled: var(--light-button-background-teritiary--disabled);

	/* BUTTON BORDER - TERTIARY */
        --light-button-border-primary--regular: var(--light-button-border-tertiary--regular);
        --light-button-border-primary--hover: var(--light-button-border-tertiary--hover);
        --light-button-border-primary--active: var(--light-button-border-tertiary--active);
        --light-button-border-primary--disabled: var(--light-button-border-tertiary--disabled);
        }

        /* BUTTON PADDING - TERTIARY */
        padding:0!important;
        }
        
        
	/* ------------------------- BUTTON ICON POSITION - BEGINNING ------------------------- */

[icon-position="left"] { 
        /* ICON LEFT */
	flex-direction: row-reverse; 
        }
        
[icon-only="true"] { 
        /* ICON SHOW */
	padding:0.75rem!important;
        }

        
	/* ------------------------- BUTTON SIZE - BEGINNING ------------------------- */


[button-size="regular"] { 
	/* TEXT MEDIUM */
	font-size:var(--button-size--regular);
        }
        
[button-size="small"] { 
	/* TEXT SMALL */
	font-size:var(--button-size--small);
        }
